name: Slither Analysis
on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install deps & build (Soldeer + Foundry)
        run: |
          forge soldeer update

      - name: Run Slither (skip compile)
        uses: crytic/slither-action@v0.4.1
